@import "tailwindcss";

@theme {
  --color-inverse-on-surface: #f1f1f1;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-fixed: #001e2d;
  --color-surface-tint: #00658d;
  --color-on-secondary-fixed: #161c23;
  --color-secondary-fixed: #dde3ec;
  --color-primary-container: #00a1de;
  --color-error: #ba1a1a;
  --color-secondary-fixed-dim: #c1c7d0;
  --color-on-tertiary-fixed-variant: #92001d;
  --color-surface-variant: #e2e2e2;
  --color-outline: #6e7881;
  --color-secondary-container: #dae0ea;
  --color-on-error-container: #93000a;
  --color-on-primary: #ffffff;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #3e4850;
  --color-primary-fixed: #c6e7ff;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed-variant: #41474f;
  --color-outline-variant: #bdc8d1;
  --color-tertiary: #bf0029;
  --color-on-tertiary-container: #660011;
  --color-inverse-primary: #82cfff;
  --color-surface-container-low: #f3f3f3;
  --color-background: #f9f9f9;
  --color-on-tertiary-fixed: #410007;
  --color-on-background: #1a1c1c;
  --color-surface-container-highest: #e2e2e2;
  --color-surface-container-high: #e8e8e8;
  --color-surface-bright: #f9f9f9;
  --color-inverse-surface: #2f3131;
  --color-on-primary-container: #003349;
  --color-tertiary-container: #ff6166;
  --color-on-tertiary: #ffffff;
  --color-surface-dim: #dadada;
  --color-tertiary-fixed-dim: #ffb3b1;
  --color-on-primary-fixed-variant: #004c6b;
  --color-tertiary-fixed: #ffdad8;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-primary-fixed-dim: #82cfff;
  --color-on-secondary-container: #5d636b;
  --color-primary: #00658d;
  --color-secondary: #595f67;
  --color-surface-container: #eeeeee;
  --color-surface: #f9f9f9;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-work-sans: var(--font-work-sans), sans-serif;
  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

:root {
  --background: #f9f9f9;
  --foreground: #1a1c1c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}

.technical-grid {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #e2e2e2 1px, transparent 1px);
}

/* Custom Scrollbar Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.category-scroll::-webkit-scrollbar {
  width: 4px;
}
.category-scroll::-webkit-scrollbar-track {
  background: #f8fafc;
}
.category-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.category-scroll::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
